.svg-gauge {
    height: 100%;
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
}

.gauge-boundary {
    stroke: #eee;
    stroke-width: 0.1;
}

.gauge-ring {
    stroke: #EBEBEB;
}

.gauge-segment {
    stroke-width: 3.5;
}

.gauge-segment-base {
    stroke: white;
}

.gauge-major-ticks {
    stroke: white;
}

.gauge-value-label {
    font-family: Arial, Helvetica, sans-serif;
    fill: #888;
    font-size: 0.10em;
    transform: translate(0px, 0.4em);
}

.gauge-value-label-left {
    text-anchor: start;
}

.gauge-value-label-top {
    text-anchor: middle;
}

.gauge-value-label-right {
    text-anchor: end;
}

.gauge-minor-tick {
    stroke: #ddd;
    stroke-width: 0.2px;
}

.gauge-needle {
    transform: rotate(0deg);
    transform-origin: center center;
    stroke: rgb(227, 153, 140);
    stroke-linecap: round;
    stroke-width: 0.6px;
}

.gauge-text {
    font-family: Arial, Helvetica, sans-serif;
}

.gauge-label {
    font-size: 0.12em;
    line-height: 1;
    transform: translateY(0.5em);
    text-align: center;
    text-anchor: middle;
    fill: #888;
}